<%= render "main_app_layout/notices_main" %>
<%= render "main_app_layout/appmenu" %>

<div class="inquirs-container">
    <h1 class="inquirs-h1">Your latest inquiries</h1>

    <div class="inquirs-cards-container">
        <div class="inquirs-cards">
            <p>Property: Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, modi.</p>
            <p>Date: 4 hours ago</p>
            <p>Inquirer Name: Loren Moan</p>
            <p>Email: loremmona@mail.com</p>
            <p>Number: 09055552525</p>
            <p>Message: <strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, inventore eligendi ullam mollitia nisi natus. Aliquam rerum sapiente aperiam eligendi?</strong></p>
            <p>Status: Open</p>
        </div>
        <div class="inquirs-cards">
            <p>Property: Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, modi.</p>
            <p>Date: 4 hours ago</p>
            <p>Inquirer Name: Loren Moan</p>
            <p>Email: loremmona@mail.com</p>
            <p>Number: 09055552525</p>
            <p>Message: <strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, inventore eligendi ullam mollitia nisi natus. Aliquam rerum sapiente aperiam eligendi?</strong></p>
            <p>Status: Open</p>
        </div>
        <div class="inquirs-cards">
            <p>Property: Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, modi.</p>
            <p>Date: 4 hours ago</p>
            <p>Inquirer Name: Loren Moan</p>
            <p>Email: loremmona@mail.com</p>
            <p>Number: 09055552525</p>
            <p>Message: <strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, inventore eligendi ullam mollitia nisi natus. Aliquam rerum sapiente aperiam eligendi?</strong></p>
            <p>Status: Open</p>
        </div>
    </div>
</div>