<nav id="app-nav">
    <div class="app-main-nav">
        <h1 id="app-site-title-h1"><%= link_to "FILIHOMES", root_path() %></h1>
        <div class="app-main-nav-item">
            <% if false %>
            <span><%= link_to "Register", registrations_new_path() %></span>
            <span><%= link_to "Login", sessions_new_login_path() %></span>
            <% end %>
            <span>Listings</span>
            <span>Status</span>
            <span>Feed</span>
            <span>Inquiries</span>
            <span>Settings</span>
            <span>Logout</span>
        </div>
    </div>
</nav>