<nav>
    <div class="main-nav">
        <h1 id="site-title-h1"><%= link_to "FILIHOMES", root_path() %></h1>
        <div class="main-nav-item">
            <span><%= link_to "Register", registrations_new_path() %></span>
            <span><%= link_to "Login", sessions_new_login_path() %></span>
        </div>
    </div>
</nav>