<nav>
    <div class="main-nav">
        <h1>Filihomes</h1>
        <span>Register</span>
        <span>Login</span>
    </div>
</nav>
<main>
    <h2>More Inquiries,<br>More Sales</h2>
    <p>Free Real Estate Listings Website for Filipino Brokers</p>
    <div class="register-button-in-main">
        Register Now
    </div>
</main>
<section id="testimonial-landing-section">
    <p>Trusted by 5,000 Filipino Real Brokers</p>
</section>
<section id="features-landing-section">
    <div class="features-one">
        <h3>Unlimited Property Listings</h3>
        <p>No more limit on how many properties you can post for free</p>
        <div class="feature-one-image pages-landing-image">
            <span>Image here</span>
        </div>
    </div>
    <div class="features-two">
        <h3>Unlimited Property Listings</h3>
        <p>No more limit on how many properties you can post for free</p>
        <div class="feature-two-image pages-landing-image">
            <span>Image here</span>
        </div>
    </div>
    <div class="features-three">
        <h3>Unlimited Property Listings</h3>
        <p>No more limit on how many properties you can post for free</p>
        <div class="feature-three-image pages-landing-image">
            <span>Image here</span>
        </div>
    </div>
</section>

<section id="footer-landing-section">
    <h2>Get your free property listings website today</h2>
    <div class="register-button-in-footer">
        Register Now
    </div>
</section>