<%= render "main_app_layout/appmenu" %>
<div class="show-listing-container">
    
    <h1 id="show-listing-h1">Kayla Model - Amiya Rosa Lipa City, 3br/2bath</h1>
    <p id="show-listing-by-p">Listing by: <strong>Jon Tolentino</strong></p>
    <div class="show-listing-image-container">
        <span>Image or images here</span>
    </div>
    <div class="show-listing-info-container">
        <div class="show-listing-info-card">
            <p>Location: Lipa City, Batangas</p>
        </div>
        <div class="show-listing-info-card">
            <p>Lot Area: 100sqm</p>
        </div>
        <div class="show-listing-info-card">
            <p>Floor Area: 130sqm</p>
        </div>
        <div class="show-listing-info-card">
            <p>Bedroom: Provision for 3 bedrooms</p>
        </div>
        <div class="show-listing-info-card">
            <p>Bathroom: 1 bathroom</p>
        </div>
        <div class="show-listing-info-card">
            <p>House type: Duplex</p>
        </div>
        <div class="show-listing-info-card">
            <p>Details: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo doloremque, illum porro placeat qui ab commodi omnis ullam facilis aliquam!</p>
        </div>
    </div>
</div>
