<%= render "main_app_layout/notices_main" %>
<%= render "main_app_layout/appmenu" %>
<div class="app-status-container">
<h1 id="my-status-h1">Jon Tolentino Status</h1>
<span>Create Status</span>

<div class="status-inside-container">
    <div class="status-cards-container">
        <div class="status-metas-container">
            <div class="status-user-image">
                <span>UI</span>
            </div>
            <span>Jon Tolentino / about 6 hours ago</span>
        </div>
        <div class="status-content-container">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At accusamus veritatis voluptatem nam natus? Nihil, reprehenderit? Mollitia ullam voluptas qui?</p>
        </div>
    </div>

    <div class="status-cards-container">
        <div class="status-metas-container">
            <div class="status-user-image">
                <span>UI</span>
            </div>
            <span>Jon Tolentino / about 6 hours ago</span>
        </div>
        <div class="status-content-container">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At accusamus veritatis voluptatem nam natus? Nihil, reprehenderit? Mollitia ullam voluptas qui?</p>
        </div>
    </div>

    <div class="status-cards-container">
        <div class="status-metas-container">
            <div class="status-user-image">
                <span>UI</span>
            </div>
            <span>Jon Tolentino / about 6 hours ago</span>
        </div>
        <div class="status-content-container">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At accusamus veritatis voluptatem nam natus? Nihil, reprehenderit? Mollitia ullam voluptas qui?</p>
        </div>
    </div>

    <div class="status-cards-container">
        <div class="status-metas-container">
            <div class="status-user-image">
                <span>UI</span>
            </div>
            <span>Jon Tolentino / about 6 hours ago</span>
        </div>
        <div class="status-content-container">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At accusamus veritatis voluptatem nam natus? Nihil, reprehenderit? Mollitia ullam voluptas qui?</p>
        </div>
    </div>

    <div class="status-cards-container">
        <div class="status-metas-container">
            <div class="status-user-image">
                <span>UI</span>
            </div>
            <span>Jon Tolentino / about 6 hours ago</span>
        </div>
        <div class="status-content-container">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At accusamus veritatis voluptatem nam natus? Nihil, reprehenderit? Mollitia ullam voluptas qui?</p>
        </div>
    </div>

    <div class="status-cards-container">
        <div class="status-metas-container">
            <div class="status-user-image">
                <span>UI</span>
            </div>
            <span>Jon Tolentino / about 6 hours ago</span>
        </div>
        <div class="status-content-container">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At accusamus veritatis voluptatem nam natus? Nihil, reprehenderit? Mollitia ullam voluptas qui?</p>
        </div>
    </div>
</div>
</div>
