<%= render "main_app_layout/notices_main" %>
<%= render "main_app_layout/appmenu" %>
<div class="app-status-container">
<h1>Jon Tolentino Status</h1>

<div class="status-inside-container">
    <div class="status-cards-container">
    
    </div>
</div>
</div>
